{% extends 'home/base.html' %}

{% load static %}



{% block title %}
Project Details
{% endblock title %}




{% block content %}
<div class="container">
    <div class="row m-2">
        <div class="col-md">

            <a href="{% url 'project:add_project' %}" class="btn btn-primary">Add Project</a>
        </div>

    </div>
    <div class="row m-2">
        <div class="col-md">
            <h3 class="alert alert-success text-center">Project List</h3>
            <div class="card card-body table-responsive">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Project Title</th>
                            <th>Project Guide</th>
                            <th>Team Name </th>
                            <th>Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}



                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{project.project_title}}</td>
                            <td>{{project.project_guide}}</td>
                            <td>{{project.team_name}} </td>
                            <td>
                                <a href="{% url 'project:update_project' project.id %}" class="edit me-2" title="Edit"
                                    data-toggle="tooltip"><i class="bi bi-pencil-fill"></i></a>
                                <a class="delete" title="Delete" data-toggle="tooltip"><i
                                        class="bi bi-trash3-fill"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}