{% extends 'home/base.html' %}

{% load static %}



{% block title %}
Guide Details
{% endblock title %}




{% block content %}
<div class="container">
    <div class="row m-2">
        <div class="col-md">

            <a href="{% url 'guide:add_guide' %}" class="btn btn-primary">Add Guide</a>
        </div>

    </div>
    <div class="row m-2">
        <div class="col-md">
            <h3 class="alert alert-success text-center">Guide List</h3>
            <div class="card card-body table-responsive">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Guide Name</th>
                            <th>Department</th>
                            <th>Specialization </th>
                            <th>Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for guide in guides %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>Prof. {{guide.guide_name}}</td>
                            <td>{{guide.guide_department}}</td>
                            <td>{{guide.guide_specilization}} </td>
                            <td>
                                <a href="{% url 'guide:update_guide' guide.id %}" class="edit me-2" title="Edit"
                                    data-toggle="tooltip"><i class="bi bi-pencil-fill"></i></a>
                                <a href="{% url 'guide:delete_guide' guide.id %}" class="delete text-danger"
                                    title="Delete" data-toggle="tooltip"><i class="bi bi-trash3-fill"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}