{% extends 'home/base.html' %}

{% load static %}



{% block title %}
Team Details
{% endblock title %}




{% block content %}
<div class="container">
    <div class="row m-2">
        <div class="col-md">

            <a href="{% url 'team:add_team' %}" class="btn btn-primary">Add Team</a>
        </div>

    </div>
    <div class="row m-2">
        <div class="col-md">
            <h3 class="alert alert-success text-center">Team List</h3>
            <div class="table-responsive">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Team Name</th>
                            <th>Members</th>
                            <th>Action</th>

                        </tr>
                    </thead>

                    <tbody>
                        {% for team in teams %}



                        <tr>
                            <td>{{ forloop.counter }}</td>

                            <td>{{team.team_name}}</td>
                            <td>
                                <table class="table">
                                    <tr>
                                        <td>{{team.member1}}</td>
                                    </tr>

                                    {% if team.member2 %}

                                    <tr>
                                        <td>{{team.member2}}</td>
                                    </tr>
                                    {% endif %}

                                    {% if team.member3 %}

                                    <tr>
                                        <td>{{team.member3}}</td>
                                    </tr>
                                    {% endif %}
                                    {% if team.member4 %}

                                    <tr>
                                        <td>{{team.member4}}</td>
                                    </tr>
                                    {% endif %}

                                </table>
                            </td>
                            <td>
                                <a href="{% url 'team:update_team' team.id %}" class="edit me-2" title="Edit"
                                    data-toggle="tooltip"><i class="bi bi-pencil-fill"></i></a>
                                <a class="delete" title="Delete" data-toggle="tooltip"><i
                                        class="bi bi-trash3-fill"></i></a>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}