{% extends 'home/base.html' %}
{% load static %}
{% block title %}
Support
{% endblock title %}



{% block content %}

<header class="masthead">
    <div class="container">
        <!-- <div class="masthead-subheading">Welcome To Our Studio!</div>
        <div class="masthead-heading text-uppercase">Project tracking system</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a> -->
    </div>
</header>
<div class="support-page">
    <div class="container mt-5 pt-5 mb-5 pb-5">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contact Details</h2>
            <h3 class="section-subheading text-muted">You can approach your guide through following means</h3>
        </div>
    </div>
</div>







{% endblock content %}